.container {
  padding: 0 24px;
}

.listItem {
  margin-bottom: 12px;
}

.title {
  color: var(--grey);
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 16px;
}

.hint {
  font-size: 12px;
  font-weight: 400;
}

.quickFilters {
  margin-bottom: 16px;
}
